.navimg{
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px 0px;
}
.navbar-nav{
  margin: 0px 0px 0px 440px!important;
  padding: 0px 0px 0px 0px!important;
}
.nav-item{
    color: white!important;
  margin: 0px 0px 9px 0px;
  font-size: 20px!important;
}
.nav-item:hover{
    text-decoration: underline!important;
  color: #FFDD83!important;

}
.navbar-brand{
  font-size: 35px!important;
  margin: 0px 0px 0px 0px!important;
  color: white!important;
}
.navbar{
  
  background-color: #245953!important;
}

.bannercolomn{
  width: 65%;
  height: 450px;
  background-color: #D8D8D8;
  border-radius: 10px;
  margin: 100px 0px 0px 225px;

}
.container{
  position: absolute;
margin: 190px 0px 0px 0px!important;
}
#inputEmail3{
  width: 330px;
  height: 40px;
  background-color: #C9EEFF!important;
}
#inputPassword3{
  width: 330px;
  height: 40px;
  background-color: #C9EEFF!important;
}
.btn{
width: 120px!important;
height: 50px!important;
margin: 25px 0px 0px 240px!important;
background-color: #245953!important;
font-size: 20px!important;
}
.btn:hover{
  background-color: #EBB02D!important;
  color: white!important;
}
.otp{
  font-size: 25px!important;
  color: #EBB02D!important;
}
.phone{
  font-size: 25px!important;
  color: #EBB02D!important;
}
.bannerimg{
  position: absolute;
  height: 130px;
  width: 130px;
  margin: 45px 0px 0px 465px;
}
.bannerhead{
  position: absolute;
  margin: 85px 0px 0px 570px;
  font-size: 45px;
  color: #245953;
}

.link{
  margin-top: 75px;
}
.linkrow{
  background-color: #245953;
  width: 100%;
  height: 345px;
}
.linkcolomn{
 float: left;
 width: 20%;
 margin-left: 125px;
 margin-top: 40px;
}
.linkhead1{
 font-size: 35px;
 color: white;
 margin-left: 30px;
}
.linkhead2{
 font-size: 35px;
 color: white;
 margin-left: 70px;
}
.linkhead3{
 font-size: 35px;
 color: white;
 margin-left: 70px;
}
.linkli{
 list-style: none;
}
.alink{
 font-size: 18px;
   color: #C7E8CA;
   text-decoration: none;
   /* margin-bottom: 0px; */
   line-height: 40px;
}
.alink:hover{
 color: yellow;
}
.linkpara{
 color: white;
 line-height: 35px;
 font-size: 17px;
}
.linkimg{
 width: 35px;
 height: 35px;
 margin: 0px 0px 0px 20px;
}
.address{
 position: absolute;
 width: 35px;
 height: 35px;
 margin: 47px 0px 0px -1013px;
}
.contact{
 position: absolute;
 width: 35px;
 height: 35px;
 margin: 47px 0px 0px -218px;
}
.upcoming{
 position: absolute;
 width: 35px;
 height: 35px;
 margin: 47px 0px 0px -595px;
}
.footer{
 width: 100%;
 height: 60px;
 background-color: #F7DB6A;
}
.footerpara{
 text-align: center;
 font-size: 25px;
 color: white;
 margin-top: 0px;
}
.para{
  position: absolute;
  margin: -40px 0px 0px 490px;
  color: #EBB02D;
  font-size: 20px;
}
.terms{
  position: absolute;
  margin: 0px 0px 0px 0px;
  /* color: #EBB02D; */
  font-size: 20px;
}
@media only screen and (min-width:576px) {
  .bannercolomn{
    max-width: 80%!important;
    height: 450px!important;
    background-color: #D8D8D8;
    border-radius: 10px;
    margin: 100px 0px 0px 70px!important;

  }
  .bannerimg{
    position: absolute!important;
    height: 130px!important;
    width: 130px!important;
    margin: 45px 0px 0px 120px!important;
  }
  .bannerhead{
    position: absolute!important;
    margin: 85px 0px 0px 220px!important;
    font-size: 45px;
    color: #245953;
  }
  #inputEmail3{
      margin: 5px 0px 0px 40px!important;
  }
  #inputPassword3{
    margin: 5px 0px 0px 40px!important;
  }
  .btn{
  width: 120px!important;
  height: 50px!important;
  margin: 25px 0px 0px 175px!important;
  background-color: #245953!important;
  font-size: 20px!important;
  }
  .para{
    position: absolute!important;
    margin: -40px 0px 0px 135px!important;
    color: #EBB02D;
    font-size: 20px;
  }
  .linkcolomn{
   float: left!important;
   width: 40%!important;
   margin-left: 210px!important;
   margin-top: 40px!important;
  }
  .linkpara{
   color: white;
   line-height: 35px;
   font-size: 18px!important;
  }
  .alink{
   font-size: 18px!important;
     color: #C7E8CA;
     text-decoration: none;
     /* margin-bottom: 0px; */
     line-height: 35px!important;
  }
  .linkhead1{
   font-size: 45px;
   color: white;
   margin-left: 25px;
  }
  .linkhead2{
   font-size: 45px;
   color: white;
   margin-left: 60px;
  }
  .linkhead3{
   font-size: 45px;
   color: white;
   margin-left: 60px;
  }
  .linkimg{
   width: 40px;
   height: 40px;
   margin: 0px 0px 0px 25px;
  }
  .address{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -250px;
  }
  .contact{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 565px 0px 0px -220px;
  }
  .upcoming{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 310px 0px 0px -215px;
  }
  .linkrow{
    height: 850px;
  }
  .navbar-brand{
    margin: 0px 0px 0px -345px!important;
  }
}

@media only screen and (min-width:768px) {
  .bannercolomn{
    max-width: 80%!important;
    height: 450px!important;
    background-color: #D8D8D8;
    border-radius: 10px;
    margin: 100px 0px 0px 135px!important;

  }
  .bannerimg{
    position: absolute!important;
    height: 130px!important;
    width: 130px!important;
    margin: 45px 0px 0px 210px!important;
  }
  .bannerhead{
    position: absolute!important;
    margin: 85px 0px 0px 315px!important;
    font-size: 50px;
    color: #245953;
  }
  #inputEmail3{
      margin: 5px 0px 0px 40px!important;
  }
  #inputPassword3{
    margin: 5px 0px 0px 40px!important;
  }
  .btn{
  width: 120px!important;
  height: 50px!important;
  margin: 25px 0px 0px 175px!important;
  background-color: #245953!important;
  font-size: 20px!important;
  }
  .para{
    position: absolute!important;
    margin: -40px 0px 0px 215px!important;
    color: #EBB02D;
    font-size: 20px;
  }
  .linkcolomn{
   float: left!important;
   width: 28%!important;
   margin-left: 30px!important;
   margin-top: 40px!important;
  }
  .linkpara{
   color: white;
   line-height: 35px;
   font-size: 18px!important;
  }
  .alink{
   font-size: 18px!important;
     color: #C7E8CA;
     text-decoration: none;
     /* margin-bottom: 0px; */
     line-height: 35px!important;
  }
  .linkhead1{
   font-size: 45px;
   color: white;
   margin-left: 25px;
  }
  .linkhead2{
   font-size: 45px;
   color: white;
   margin-left: 60px;
  }
  .linkhead3{
   font-size: 45px;
   color: white;
   margin-left: 60px;
  }
  .linkimg{
   width: 40px;
   height: 40px;
   margin: 0px 0px 0px 15px;
  }
  .address{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -725px;
  }
  .contact{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -198px;
  }
  .upcoming{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -442px;
  }
  .linkrow{
    height: 350px;
  }
  .navbar-brand{
    margin: 0px 0px 0px -530px!important;
  }
}

@media only screen and (min-width:992px) {
  .bannercolomn{
    width: 80%!important;
    height: 450px!important;
    background-color: #D8D8D8;
    border-radius: 10px;
    margin: 100px 0px 0px 135px!important;

  }
  .bannerimg{
    position: absolute!important;
    height: 130px!important;
    width: 130px!important;
    margin: 50px 0px 0px 315px!important;
  }
  .bannerhead{
    position: absolute!important;
    margin: 85px 0px 0px 420px!important;
    font-size: 60px;
    color: #245953;
  }
  #inputEmail3{
      margin: 5px 0px 0px -30px!important;
      width: 60%;
  }
  #inputPassword3{
    margin: 5px 0px 0px -30px!important;
    width: 60%;
  }
  .btn{
  width: 120px!important;
  height: 50px!important;
  margin: 25px 0px 0px 300px!important;
  background-color: #245953!important;
  font-size: 20px!important;
  }
  .para{
    position: absolute!important;
    margin: -40px 0px 0px 300px!important;
    color: #EBB02D;
    font-size: 20px;
  }
  .linkcolomn{
   float: left!important;
   width: 28%!important;
   margin-left: 30px!important;
   margin-top: 40px!important;
  }
  .linkpara{
   color: white;
   line-height: 35px;
   font-size: 18px!important;
  }
  .alink{
   font-size: 18px!important;
     color: #C7E8CA;
     text-decoration: none;
     /* margin-bottom: 0px; */
     line-height: 35px!important;
  }
  .linkhead1{
   font-size: 45px;
   color: white;
   margin-left: 25px;
  }
  .linkhead2{
   font-size: 45px;
   color: white;
   margin-left: 60px;
  }
  .linkhead3{
   font-size: 45px;
   color: white;
   margin-left: 60px;
  }
  .linkimg{
   width: 40px;
   height: 40px;
   margin: 0px 0px 0px 15px;
  }
  .address{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -940px;
  }
  .contact{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -270px;
  }
  .upcoming{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -590px;
  }
  .linkrow{
    height: 350px;
  }
  .navbar-brand{
    margin: 0px 0px 0px -1px!important;
  }
}
@media only screen and (min-width:1200px) {
  .bannercolomn{
    width: 80%!important;
    height: 450px!important;
    background-color: #D8D8D8;
    border-radius: 10px;
    margin: 100px 0px 0px 135px!important;

  }
  .bannerimg{
    position: absolute!important;
    height: 150px!important;
    width: 150px!important;
    margin: 35px 0px 0px 370px!important;
  }
  .bannerhead{
    position: absolute!important;
    margin: 65px 0px 0px 500px!important;
    font-size: 70px;
    color: #245953;
  }
  #inputEmail3{
      margin: 5px 0px 0px -30px!important;
      width: 80%;
  }
  #inputPassword3{
    margin: 5px 0px 0px -30px!important;
    width: 80%;
  }
  .btn{
  width: 120px!important;
  height: 50px!important;
  margin: 25px 0px 0px 445px!important;
  background-color: #245953!important;
  font-size: 20px!important;
  }
  .para{
    position: absolute!important;
    margin: -40px 0px 0px 455px!important;
    color: #EBB02D;
    font-size: 20px;
  }
  .linkcolomn{
   float: left!important;
   width: 20%!important;
   margin-left: 115px!important;
   margin-top: 40px!important;
  }
  .linkpara{
   color: white;
   line-height: 35px;
   font-size: 18px!important;
  }
  .alink{
   font-size: 18px!important;
     color: #C7E8CA;
     text-decoration: none;
     /* margin-bottom: 0px; */
     line-height: 35px!important;
  }
  .linkhead1{
   font-size: 45px;
   color: white;
   margin-left: 25px;
  }
  .linkhead2{
   font-size: 45px;
   color: white;
   margin-left: 60px;
  }
  .linkhead3{
   font-size: 45px;
   color: white;
   margin-left: 60px;
  }
  .linkimg{
   width: 40px;
   height: 40px;
   margin: 0px 0px 0px 15px;
  }
  .address{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -1000px;
  }
  .contact{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -235px;
  }
  .upcoming{
   position: absolute;
   width: 40px;
   height: 40px;
   margin: 50px 0px 0px -600px;
  }
  .linkrow{
    height: 350px;
  }
  .navbar-brand{
    margin: 0px 0px 0px -1px!important;
  }
}
